## Exercise 02. Join

1. Create a connection to the database using the `sqlite3` library.
2. Create a new table called `datamart` in the database by joining the tables `pageviews` and `checker` using only one query.
   - The table should have the following columns: "uid", "labname", "first_commit_ts", and "first_view_ts".
   - "first_commit_ts" is a new name for the "timestamp" column in the checker table. It shows the first commit from a particular lab and user.
   - "first_view_ts" shows the first time a user visited the pageviews table. It is the timestamp of when a user visited the newsfeed.
   - `status = 'ready'` should still be a filter.
   - `numTrials = 1` should still be a filter.
   - "labnames" should be from the list: `laba04`, `laba04s`, `laba05`, `laba06`, `laba06s`, and `project1`.
   - The table should contain only users (uids with user_*), not admins.
   - "first_commit_ts" and "first_view_ts" should be parsed as `datetime64[ns]`.

In [ ]:
import pandas as pd
import sqlite3

con=sqlite3.connect('data/checking-logs.sqlite')
cursor=con.cursor()
create_table_query="""
CREATE TABLE IF NOT EXISTS datamart AS 
    WITH checker_temp AS(
        SELECT uid, labname, MIN(DATETIME(timestamp)) AS first_commit_ts
        FROM checker 
        WHERE status ='ready' AND numTrials=1 AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1') AND
        uid LIKE "user_%"
        GROUP BY uid, labname
        ),
    pageviews_temp AS(
        SELECT uid, MIN(DATETIME(datetime)) AS first_view_ts
        FROM pageviews
        WHERE uid LIKE "user_%"
        GROUP BY uid
        )
    SELECT
    checker_temp.uid,
    checker_temp.labname,
    checker_temp.first_commit_ts,
    pageviews_temp.first_view_ts
FROM
    checker_temp
LEFT JOIN 
    pageviews_temp ON checker_temp.uid = pageviews_temp.uid
"""
cursor.execute("""DROP TABLE IF EXISTS datamart""")
cursor.execute(create_table_query)
datamart=pd.read_sql("""SELECT * FROM datamart""", con, parse_dates=['first_commit_ts', 'first_view_ts'])
datamart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              140 non-null    object
 1   labname          140 non-null    object
 2   first_commit_ts  140 non-null    datetime64[ns]
 3   first_view_ts    59 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 4.5+ KB

3. Using Pandas methods, create two dataframes: `test` and `control`.
   - `test` should contain users with values in "first_view_ts".
   - `control` should contain users with missing values in "first_view_ts".
   - Replace the missing values in the control table with the average "first_view_ts" value of the test users. We will use this value for future analyses.
   - Save both tables in the database. You will use them in the next exercises.

In [85]:
test=datamart[datamart['first_view_ts'].notna()].copy()
test
#test.info()

         uid   labname     first_commit_ts       first_view_ts
0     user_1    laba04 2020-04-26 17:06:18 2020-04-26 21:53:59
1     user_1   laba04s 2020-04-26 17:12:11 2020-04-26 21:53:59
2     user_1    laba05 2020-05-02 19:15:18 2020-04-26 21:53:59
3     user_1    laba06 2020-05-17 16:26:35 2020-04-26 21:53:59
4     user_1   laba06s 2020-05-20 12:23:37 2020-04-26 21:53:59
5     user_1  project1 2020-05-14 20:56:08 2020-04-26 21:53:59
6    user_10    laba04 2020-04-25 08:24:52 2020-04-18 12:19:50
7    user_10   laba04s 2020-04-25 08:37:54 2020-04-18 12:19:50
8    user_10    laba05 2020-05-01 19:27:26 2020-04-18 12:19:50
9    user_10    laba06 2020-05-19 11:39:28 2020-04-18 12:19:50
10   user_10   laba06s 2020-05-20 07:37:31 2020-04-18 12:19:50
11   user_10  project1 2020-05-12 20:12:28 2020-04-18 12:19:50
24   user_14    laba04 2020-04-18 15:14:00 2020-04-18 10:53:52
25   user_14   laba04s 2020-04-18 22:30:30 2020-04-18 10:53:52
26   user_14    laba05 2020-04-30 11:33:04 2020-04-18 10:53:52
27   user_14  project1 2020-05-05 21:35:43 2020-04-18 10:53:52
34   user_17    laba04 2020-04-23 14:24:29 2020-04-18 10:56:55
35   user_17   laba04s 2020-04-25 12:10:56 2020-04-18 10:56:55
36   user_17    laba05 2020-05-02 13:21:24 2020-04-18 10:56:55
37   user_17    laba06 2020-05-21 15:21:31 2020-04-18 10:56:55
38   user_17   laba06s 2020-05-21 17:39:17 2020-04-18 10:56:55
39   user_17  project1 2020-04-18 07:56:45 2020-04-18 10:56:55
40   user_18    laba04 2020-04-26 19:48:11 2020-04-26 22:49:29
41   user_18   laba04s 2020-04-26 20:03:56 2020-04-26 22:49:29
42   user_18    laba05 2020-05-03 13:01:34 2020-04-26 22:49:29
43   user_18  project1 2020-05-11 10:10:04 2020-04-26 22:49:29
44   user_19    laba04 2020-04-20 19:05:01 2020-04-21 20:30:38
45   user_19    laba05 2020-05-02 15:16:13 2020-04-21 20:30:38
46   user_19    laba06 2020-05-19 10:25:54 2020-04-21 20:30:38
47   user_19   laba06s 2020-05-21 13:27:06 2020-04-21 20:30:38
48   user_19  project1 2020-05-14 10:33:45 2020-04-21 20:30:38
59   user_21    laba04 2020-04-21 17:48:00 2020-04-22 22:40:36
60   user_21   laba04s 2020-04-22 20:09:21 2020-04-22 22:40:36
61   user_21    laba05 2020-05-02 14:05:40 2020-04-22 22:40:36
62   user_21    laba06 2020-05-19 19:30:14 2020-04-22 22:40:36
63   user_21  project1 2020-05-10 15:21:05 2020-04-22 22:40:36
78   user_25    laba04 2020-04-20 19:16:50 2020-05-09 23:54:54
79   user_25   laba04s 2020-04-26 21:07:56 2020-05-09 23:54:54
80   user_25    laba05 2020-05-01 13:02:27 2020-05-09 23:54:54
81   user_25    laba06 2020-05-18 17:07:47 2020-05-09 23:54:54
82   user_25   laba06s 2020-05-20 14:02:26 2020-05-09 23:54:54
83   user_25  project1 2020-05-08 11:10:28 2020-05-09 23:54:54
92   user_28    laba04 2020-04-22 21:47:19 2020-05-10 21:07:50
93   user_28   laba04s 2020-04-26 15:53:44 2020-05-10 21:07:50
94   user_28    laba05 2020-05-01 18:29:11 2020-05-10 21:07:50
95   user_28    laba06 2020-05-17 17:08:48 2020-05-10 21:07:50
96   user_28   laba06s 2020-05-20 20:42:44 2020-05-10 21:07:50
97   user_28  project1 2020-05-12 14:42:19 2020-05-10 21:07:50
104   user_3    laba04 2020-04-23 20:29:14 2020-05-08 10:53:47
105   user_3   laba04s 2020-04-23 20:40:26 2020-05-08 10:53:47
106   user_3    laba05 2020-05-01 11:29:17 2020-05-08 10:53:47
107   user_3    laba06 2020-05-17 09:56:40 2020-05-08 10:53:47
108   user_3   laba06s 2020-05-19 08:42:50 2020-05-08 10:53:47
109   user_3  project1 2020-05-07 21:02:52 2020-05-08 10:53:47
110  user_30    laba04 2020-04-18 13:36:53 2020-04-17 22:46:26
111  user_30   laba04s 2020-04-18 14:51:37 2020-04-17 22:46:26
112  user_30    laba05 2020-05-01 19:31:18 2020-04-17 22:46:26
113  user_30    laba06 2020-05-19 17:53:15 2020-04-17 22:46:26
114  user_30  project1 2020-04-22 12:36:24 2020-04-17 22:46:26

In [84]:
control=datamart[datamart['first_view_ts'].isna()].copy()
control.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 12 to 139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              81 non-null     object
 1   labname          81 non-null     object
 2   first_commit_ts  81 non-null     datetime64[ns]
 3   first_view_ts    0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 3.2+ KB

In [79]:
control['first_view_ts'].fillna(test['first_view_ts'].mean(), inplace=True )
control

/tmp/ipykernel_361252/2289562314.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  control['first_view_ts'].fillna(test['first_view_ts'].mean(), inplace=True )

         uid   labname     first_commit_ts                 first_view_ts
12   user_11    laba05 2020-05-03 21:06:55 2020-04-27 00:40:05.322033664
13   user_11  project1 2020-05-03 23:45:33 2020-04-27 00:40:05.322033664
14   user_12    laba04 2020-04-18 17:07:51 2020-04-27 00:40:05.322033664
15   user_12   laba04s 2020-04-26 15:42:38 2020-04-27 00:40:05.322033664
16   user_12    laba05 2020-05-03 08:39:25 2020-04-27 00:40:05.322033664
..       ...       ...                 ...                           ...
135   user_8   laba04s 2020-04-19 10:22:35 2020-04-27 00:40:05.322033664
136   user_8    laba05 2020-05-02 13:28:07 2020-04-27 00:40:05.322033664
137   user_8    laba06 2020-05-16 17:56:15 2020-04-27 00:40:05.322033664
138   user_8   laba06s 2020-05-16 20:01:07 2020-04-27 00:40:05.322033664
139   user_8  project1 2020-05-14 15:42:04 2020-04-27 00:40:05.322033664

[81 rows x 4 columns]

In [80]:
test.to_sql('test',con, if_exists='replace',index=True)
control.to_sql('control',con, if_exists='replace',index=True)

81

In [81]:
con.commit()
con.close()